body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #a5fcca;
}
h1{color: #0FF571; font-size: 60px; background-color: blueviolet; text-align: center;}
h2{font-size: 30px; text-align: center;}
p{font-size: x-large;}
.fab {
  font-size: 30px;
  color: blueviolet;
}
/* Menu

*/
.menu-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04CFA1;
}

.menu-li{
    float: left;
}

.menu-li a {
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: larger;
}

.menu-li a:hover {
    background-color: #0FF571;
}
/*Imagen de la pagina Inicio
*/
.contenedor-img {
    position: absolute;
    display: inline-block;
    text-align: center;
}
.centrado {
    position: absolute;
    top: 1%;
    left: 50%;
    background-color: aquamarine;
    transform: translate(-50%, 50%);
    opacity: 0.3;
}
.p-img {
    font-size: 4rem;
    color: rgba(214, 79, 255, 0.644);
}

/* equipos */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    /*Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(214, 79, 255, 0.644);
    transition: 0.3s;
    background-color: white;
}

/* On mouse.over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(214, 79, 255, 0.295);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.box1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

/* Popup de equipos 
clase overlay que hará el efecto modal. El truco consiste en poner fija la posición de la capa 
y sus 4 direcciones en 0. La propiedad visibility estará en hidden. La opacidad será 0 inicialmente, 
haciendo una simple transición de medio segundo.
*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(167, 243, 137, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  /*
  la pseudo clase target que funciona cuando un elemento está activo, como en este caso la clase overlay. 
  Lo que haremos será simplemente poner la propiedad visibility en visible, y regresar la opacidad en 1.
  */
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  #popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #04CFA1;
    background: rgb(255, 255, 255);
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }
  #cerrar{
    position: absolute;
    top: 30px;
    right: 40px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #0FF571;
  }


  #popup1Body{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #04CFA1;
    background: #ffff;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;   
  }
  #cerrar{
    position: absolute;
    top: 30px;
    right: 40px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #0FF571;
  }

  #popup2Body{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #04CFA1;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }
  #cerrar{
    position: absolute;
    top: 30px;
    right: 40px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #0FF571;
  }

  #popup3Body{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #04CFA1;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }
  #cerrar{
    position: absolute;
    top: 30px;
    right: 40px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #0FF571;
  }

  #popup4Body{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #04CFA1;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }
  #cerrar{
    position: absolute;
    top: 30px;
    right: 40px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #0FF571;
  }

  #popup5Body{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #04CFA1;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
  }
  #cerrar{
    position: absolute;
    top: 30px;
    right: 40px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #0FF571;
  }

  /* Juegos */
  .wrapper-juegos {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 15px;
    padding-top: 150px;
    transform-origin: 0 0;
    transform: skewY(-8deg);
}

/* hover juegos */

.tooltip {
  position: static;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 30%;
  background-color: #C2FF11;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* posición de tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  box-shadow: 0 4px 8px 0 rgba(214, 79, 255, 0.644);
}
